<!DOCTYPE html>
<html>
  <head>
    <title>Team Unicorn Telecomms Project</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <th>Number of Connected Workers</th>
          <th>Total Workers This Session</th>
          <th>Percent Completed</th>
        </tr>
        <tr>
          <td><%= connectedWorkers %></td>
          <td>Blah</td>
          <td>Blah</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <th>Worker id</th>
          <th>Lines Completed</th>
          <th>Results Found</th>
        </tr>
        <% workerStats.forEach(function(value, key) { %>
        <tr>
          <td><%= key %></td>
          <td><%= value.linesCompleted %></td>
          <td><%= value.resultsFound %></td>
        </tr>
        <% }) %>
  </body>
</html>
